<div class="bar-container">
  <!-- Search input and icon(s) -->
  <div class="search-input-container">
    <mat-icon class="bar-icon">search</mat-icon>
    <input [formControl]="searchInput" class="bar-input" placeholder="Search" />
  </div>

  <!-- Search results pane -->
  <div class="search-results-container" *ngIf="searchResults">
    <mat-nav-list [disableRipple]="true">
      <mat-list-item
        *ngFor="
          let result of searchResults.documents;
          let index;
          as: indexOfElement
        "
        tabindex="{{ index }}"
        style="border-radius: 25px"
        (keyup.enter)="route(result)"
      >
        <div
          mat-line
          [innerHTML]="result.value.food_name"
          style="text-overflow: ellipsis; overflow-x: hidden"
        ></div>
        <div
          mat-line
          [innerHTML]="result.value.food_desc"
          style="text-overflow: ellipsis; overflow-x: hidden"
          *ngIf="
            hasHighlights(result.value.food_desc) &&
            !hasHighlights(result.value.food_name)
          "
        ></div>
        <div
          mat-line
          [innerHTML]="result.value.class_name"
          style="text-overflow: ellipsis; overflow-x: hidden"
          *ngIf="
            hasHighlights(result.value.class_name) &&
            !hasHighlights(result.value.food_name)
          "
        ></div>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
