<mat-toolbar color="primary" style="position: fixed; top: 0; z-index: 9">
  <span>Food & Nutrient Database</span>
  <app-search-bar
    *ngIf="!(isHandset$ | async) || ((isHandset$ | async) && showSearchBar)"
    (hideOnBlur)="showSearchBar = false"
  ></app-search-bar>
  <span class="spacer"></span>
  <button
    mat-icon-button
    *ngIf="isHandset$ | async"
    (click)="showSearchBar = true"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div
  style="height: 100%"
  class="{{ (isHandset$ | async) ? 'mobile-margins' : 'normal-margins' }}"
>
  <router-outlet></router-outlet>
</div>
