<div class="center-container">
  <div class="search-bar">
    <mat-icon style="margin-left: 15px">search</mat-icon>
    <input
      class="input"
      type="text"
      placeholder="Start typing..."
      [formControl]="term"
      autofocus
    />
    <button
      mat-icon-button
      (click)="term.reset()"
      *ngIf="term.value.length > 0"
      style="margin-left: auto; margin-right: 20px"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<div class="center-container">
  <mat-spinner diameter="40" *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="results.length > 0">
    <mat-card-title>Results</mat-card-title>
    <mat-card-subtitle>{{ results.length }} results</mat-card-subtitle>
    <mat-selection-list class="results" [multiple]="false">
      <mat-list-option
        *ngFor="let result of results"
        [routerLink]="['food', result.public_food_key]"
      >
        <mat-icon mat-list-icon>restaurant_menu</mat-icon>
        <div mat-line>{{ result.food_name }}</div>
        <div mat-line>{{ result.food_description }}</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
</div>
