<div class="center-container">
  <div class="search-bar">
    <mat-icon style="margin-left: 15px">search</mat-icon>
    <input
      class="input"
      type="text"
      placeholder="Start typing..."
      [formControl]="term"
      autofocus
    />
    <button
      mat-icon-button
      (click)="term.setValue('')"
      *ngIf="term.value.length > 0"
      style="margin-left: auto; margin-right: 20px"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <mat-spinner
    diameter="40"
    *ngIf="isLoading"
    style="margin-top: 20px"
  ></mat-spinner>
</div>

<div class="panel-container">
  <div class="center-container">
    <mat-card *ngIf="totalResults > 0">
      <mat-card-title>Results</mat-card-title>
      <mat-card-subtitle>{{ results.length }} results</mat-card-subtitle>
      <mat-selection-list class="results" [multiple]="false">
        <mat-list-option
          *ngFor="let result of results"
          (click)="activeProfile = result.value"
        >
          <mat-icon mat-list-icon>restaurant_menu</mat-icon>
          <div mat-line [innerHTML]="result.value.class_name"></div>
          <div mat-line [innerHTML]="result.value.food_name"></div>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
  </div>

  <app-food-profile [food]="activeProfile"></app-food-profile>
</div>
